{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %}</title>
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
  />
  <title>CORK Admin - Multipurpose Bootstrap Dashboard Template</title>
  <link rel="icon" type="image/x-icon" href="{% static "src/assets/img/favicon.ico" %}" />
  <link
    href="{% static "layouts/modern-dark-menu/css/light/loader.css" %}"
    rel="stylesheet"
    type="text/css"
  />
  
  <script src="{% static "layouts/modern-dark-menu/loader.js" %}"></script>

  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:400,600,700"
    rel="stylesheet"
  />
  <link
    href="{% static "src/bootstrap/css/bootstrap.min.css" %}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{% static "layouts/modern-dark-menu/css/light/plugins.css" %}"
    rel="stylesheet"
    type="text/css"
  />
  
  <!-- END GLOBAL MANDATORY STYLES -->

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
  <link
    href="{% static "src/plugins/src/apex/apexcharts.css" %}"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="{% static "src/assets/css/light/dashboard/dash_1.css" %}"
    rel="stylesheet"
    type="text/css"
  />
     <meta
            content="A fully featured admin theme which can be used to build CRM, CMS, etc."
            name="description"
    />
    <meta content="Coderthemes" name="author"/>
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>

    {% block customCSS %}{% endblock customCSS %}

    <!-- App css -->
    <link
            href="{% static 'css/icons.min.css' %}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="{% static 'css/app.min.css' %}"
            rel="stylesheet"
            type="text/css"
            id="light-style"
    />
    
</head>
{% block body %}

    <script type="module">
        // Import the functions you need from the SDKs you need
        import {initializeApp} from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
        import {getAnalytics} from "https://www.gstatic.com/firebasejs/9.17.1/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
{% endblock body %}

</html>
