{% extends 'base.html' %} {% load static %} {% block body %}
<body class="loading" data-layout-config='{"darkMode":false}'>
	<!-- START PRICING -->
	<section
		class="py-5 bg-light-lighten border-top border-bottom border-light"
	>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="text-center">
						<h1 class="mt-0">
							<i class="mdi mdi-tag-multiple"></i>
						</h1>
						<h3>
							Choose Simple
							<span class="text-primary">Pricing</span>
						</h3>
						{% comment %} <p class="text-muted mt-2">
							The clean and well commented code allows easy
							customization of the theme.It's designed for
							<br />describing your app, agency or business.
						</p> {% endcomment %}
					</div>
				</div>
			</div>
			<form action="/register/" method="post">
				{% csrf_token %}
				<div class="row mt-5 pt-3">
					<div class="col-md-3">
						<div class="card card-pricing">
							<div class="card-body text-center">
								<p
									class="card-pricing-plan-name fw-bold text-uppercase"
								>
									Free License
								</p>
								<i
									class="card-pricing-icon dripicons-user text-primary"
								></i>
								<h2 class="card-pricing-price">
									₹0 <span>/ License</span>
								</h2>
								<ul class="card-pricing-features">
									<li>1 Day Validity</li>
									<li>3 Reports Limit</li>
									<li>Email Support</li>
									<li>24x7 Support</li>
								</ul>
								<button
									class="btn btn-primary mt-4 mb-2 btn-rounded"
									type="submit"
									name="plan"
									value="free_plan"
								>
									Choose Plan
								</button>
							</div>
						</div>
						<!-- end Pricing_card -->
					</div>
					<!-- end col -->

					<div class="col-md-3">
						<div class="card card-pricing card-pricing-recommended">
							<div class="card-body text-center">
								<div class="card-pricing-plan-tag">
									Recommended
								</div>
								<p
									class="card-pricing-plan-name fw-bold text-uppercase"
								>
									Standard License
								</p>
								<i
									class="card-pricing-icon dripicons-briefcase text-primary"
								></i>
								<h2 class="card-pricing-price">
									₹49 <span>/ License</span>
								</h2>
								<ul class="card-pricing-features">
									<li>30 Day Validity</li>
									<li>25 Reports Limit</li>
									<li>Email Support</li>
									<li>24x7 Support</li>
								</ul>
								<button
									class="btn btn-primary mt-4 mb-2 btn-rounded"
									type="submit"
									name="plan"
									value="standard_plan"
								>
									Choose Plan
								</button>
							</div>
						</div>
						<!-- end Pricing_card -->
					</div>
					<!-- end col -->

					<div class="col-md-3">
						<div class="card card-pricing">
							<div class="card-body text-center">
								<p
									class="card-pricing-plan-name fw-bold text-uppercase"
								>
									Advance License
								</p>
								<i
									class="card-pricing-icon dripicons-store text-primary"
								></i>
								<h2 class="card-pricing-price">
									₹99 <span>/ License</span>
								</h2>
								<ul class="card-pricing-features">
									<li>100 Day Validity</li>
									<li>50 Reports Limit</li>
									<li>Email Support</li>
									<li>24x7 Support</li>
								</ul>
								<button
									class="btn btn-primary mt-4 mb-2 btn-rounded"
									type="submit"
									name="plan"
									value="advance_plan"
								>
									Choose Plan
								</button>
							</div>
						</div>
						<!-- end Pricing_card -->
					</div>
					<!-- end col -->

					<div class="col-md-3">
						<div class="card card-pricing">
							<div class="card-body text-center">
								<p
									class="card-pricing-plan-name fw-bold text-uppercase"
								>
									Pro License
								</p>
								<i
									class="card-pricing-icon dripicons-store text-primary"
								></i>
								<h2 class="card-pricing-price">
									₹299 <span>/ License</span>
								</h2>
								<ul class="card-pricing-features">
									<li>365 Day Validity</li>
									<li>125 Reports Limit</li>
									<li>Email Support</li>
									<li>24x7 Support</li>
								</ul>
								<button
									class="btn btn-primary mt-4 mb-2 btn-rounded"
									type="submit"
									name="plan"
									value="pro_plan"
								>
									Choose Plan
								</button>
							</div>
						</div>
						<!-- end Pricing_card -->
					</div>
					<!-- end col -->
				</div>
			</form>
			<!-- end row -->
		</div>
	</section>
	<!-- END PRICING -->
	<!-- bundle -->
	<script src="{% static 'js/vendor.min.js' %}"></script>
	<script src="{% static 'js/app.min.js' %}"></script>
</body>
{% endblock body %}
