{% extends 'base.html' %} {% load static %} {% block customCSS %}
<!-- third party css -->
<link
  href="{% static 'css/vendor/dataTables.bootstrap5.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'css/vendor/responsive.bootstrap5.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<!-- third party css end -->
{% endblock customCSS %} {% block body %}
<body
  class="loading"
  data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'
>
  <!-- Begin page -->
  <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="leftside-menu">
      <!-- LOGO -->
      <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
          <img src="{% static 'images/logo.png' %}" alt="" height="60" />
        </span>
        <span class="logo-sm">
          <img src="{% static 'images/logo_sm.png' %}" alt="" height="30" />
        </span>
      </a>

      <!-- LOGO -->
      <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
          <img src="{% static 'images/logo-dark.png' %}" alt="" height="60" />
        </span>
        <span class="logo-sm">
          <img
            src="{% static 'images/logo_sm_dark.png' %}"
            alt=""
            height="30"
          />
        </span>
      </a>

      <div class="h-100" id="leftside-menu-container" data-simplebar="">
        <!--- Sidemenu -->
        <ul class="side-nav">
          <li class="side-nav-item">
            <a href="{% url 'dashboard' %}" class="side-nav-link">
              <i class="uil-home-alt"></i>
              <span> DashBoard </span>
            </a>
          </li>

          <li class="side-nav-item">
            <a href="{% url 'createReport' %}" class="side-nav-link">
              <i class="uil-comments-alt"></i>
              <span> Generate Report </span>
            </a>
          </li>

          <li class="side-nav-item menuitem-active">
            <a href="{% url 'viewReport' %}" class="side-nav-link">
              <i class="uil-rss"></i>
              <span> View Report </span>
            </a>
          </li>
        </ul>

        <!-- Help Box -->
        <div class="help-box text-white text-center">
          <a href="javascript: void(0);" class="float-end close-btn text-white">
            <i class="mdi mdi-close"></i>
          </a>
          <img
            src="{% static 'images/help-icon.svg' %}"
            height="90"
            alt="Helper Icon Image"
          />
          <h5 class="mt-3">Unlimited Access</h5>
          <p class="mb-3">Upgrade to plan to get access to unlimited reports</p>
          <a href="javascript: void(0);" class="btn btn-outline-light btn-sm"
            >Upgrade</a
          >
        </div>
        <!-- end Help Box -->
        <!-- End Sidebar -->

        <div class="clearfix"></div>
      </div>
      <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
      <div class="content">
        <!-- Topbar Start -->
        <div class="navbar-custom">
          <ul class="list-unstyled topbar-menu float-end mb-0">
            <li class="dropdown notification-list">
              <a
                class="nav-link dropdown-toggle nav-user arrow-none me-0 d-flex align-items-center"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="false"
                aria-expanded="false"
              >
                <span class="account-user-avatar">
                  <img
                    src="{% static 'images/users/avatar-1.jpg' %}"
                    alt="user-image"
                    class="rounded-circle"
                  />
                </span>
                <span>
                  <span class="account-user-name"
                    >{{request.session.name}}</span
                  >
                </span>
              </a>
              <div
                class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"
              >
                <!-- item-->
                <div class="dropdown-header noti-title">
                  <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="mdi mdi-account-circle me-1"></i>
                  <span>My Account</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="mdi mdi-account-edit me-1"></i>
                  <span>Settings</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="mdi mdi-lifebuoy me-1"></i>
                  <span>Support</span>
                </a>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="mdi mdi-lock-outline me-1"></i>
                  <span>Lock Screen</span>
                </a>

                <!-- item-->
                <a href="/logout/" class="dropdown-item notify-item">
                  <i class="mdi mdi-logout me-1"></i>
                  <span>Logout</span>
                </a>
              </div>
            </li>
          </ul>
          <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
          </button>
        </div>
        <!-- end Topbar -->

        <!-- Start Content-->
        <div class="container-fluid">
          {% if message %}
          <div class="alert alert-danger alert-dismissible" role="alert">
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endif %}
          <!-- start page title -->
          <div class="row">
            <div class="col-12">
              <div class="page-title-box">
                <h4 class="page-title">Reports</h4>
              </div>
            </div>
          </div>
          <!-- end page title -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <table
                    id="basic-datatable"
                    class="table table-hover table-centered dt-responsive nowrap w-100"
                  >
                    <thead>
                      <tr>
                        <th>Report Name</th>
                        <th>Bank Name</th>
                        <th>Account Type</th>
                        <th>Account Number</th>
                        <th>Created At</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                <!-- end card body-->
              </div>
              <!-- end card -->
            </div>
            <!-- end col-->
          </div>
          <!-- end row-->
        </div>
        <!-- container -->
      </div>
      <!-- content -->

      <!-- Footer Start -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <script>
                document.write(new Date().getFullYear());
              </script>
              © All rights reserved.
            </div>
            <div class="col-md-6">
              <div class="text-md-end footer-links d-none d-md-block">
                <a href="javascript: void(0);">About</a>
                <a href="javascript: void(0);">Support</a>
                <a href="javascript: void(0);">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer -->
    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
  </div>
  <!-- END wrapper -->

  <!-- bundle -->
  <script src="{% static 'js/vendor.min.js' %}"></script>
  <script src="{% static 'js/app.min.js' %}"></script>

  <!-- third party js -->
  <script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'js/vendor/dataTables.bootstrap5.js' %}"></script>
  <script src="{% static 'js/vendor/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'js/vendor/responsive.bootstrap5.min.js' %}"></script>
  <!-- third party js ends -->

  <!-- demo app -->
  <script type="text/javascript">
    $(document).ready(function () {
      $("#basic-datatable").DataTable({
        ajax: {
          url: '{% url "reports_ajax" %}',
          dataSrc: function (reports) {
            report_arr = [];
            $.each(reports, function (index, report) {
              report_arr.push({
                reportname: report.reportname,
                bankname: report.bankname,
                accountType: report.accountType,
                accountNumber: report.accountNumber,
                createdAt: report.createdAt,
                action:
                  `<a
								href="{% url 'showReport' %}?data=` +
                  index +
                  `"
								target="_blank"
								class="action-icon"
							>
								<i
									class="mdi mdi-eye"
								></i
							></a>
							<a
								href="` +
                  report.excel_url +
                  `"
								class="action-icon"
							>
								<i
									class="mdi mdi-download"
								></i
							></a>`,
              });
            });
            res = JSON.parse(JSON.stringify(report_arr));
            console.log(res);
            return res;
          },
        },
        columns: [
          { data: "reportname" },
          { data: "bankname" },
          { data: "accountType" },
          { data: "accountNumber" },
          { data: "createdAt" },
          { data: "action" },
        ],
      });
    });
  </script>
  <!-- end demo js-->
</body>
{% endblock body %}
